*{
margin: 0;
padding: 0 ;

}

.main{
    width: 100%;

}
.srchbar{
    position: absolute;
width: 356.11px;
height: 47px;
left: 664.89px;
top: 17.03px;

background: #FFFFFF;
border: 2px solid #000000;
box-sizing: border-box;
}
.bar{
    position: absolute;
    width: 43px;
    height: 39px;
    left: 676px;
    top: 23px;
    z-index: 2;
}
/*shoe*/
.word1{
    position: absolute;
    width: 476.69px;
    height: 149.6px;
    left: 261px;
    top: 82px;
    
    font-family: Audiowide;
    font-style: normal;
    font-weight: normal;
    font-size: 120px;
    line-height: 153px;
}
/*bazar*/
.word2{
    position: absolute;
    width: 662.63px;
    height: 149.6px;
    left: 567px;
    top: 196px;
    
    font-family: Audiowide;
    font-style: normal;
    font-weight: normal;
    font-size: 150px;
    line-height: 191px;
    
    color: #000000;
}
/*fshoe1*/
.image1{
    position: absolute;
    width: 249px;
    height: 140px;
    left: 287px;
    top: 206px;
}
/*shoe1*/
.image2{
    position: absolute;
width: 360.62px;
height: 123.75px;
left: 663px;
top: 108px;
}
.logo{
    position: absolute;
    width: 60.85px;
    height: 55.83px;
    left: 20.28px;
    top: 26.51px;
}
/*buttons*/
ul li{
    list-style: none;
}
.menu1{
    position: absolute;
    width: 94.66px;
    height: 60.29px;
    left: 153.26px;
    top: 30.98px;
    
    font-family: Rasa;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
}
.menu2{
    position: absolute;
    width: 87.9px;
    height: 43.55px;
    left: 324.56px;
    top: 30.98px;
    
    font-family: Rasa;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    
    color: #000000;
}
.menu3{
    position: absolute;
width: 104.8px;
height: 43.55px;
left: 526.28px;
top: 30.98px;

font-family: Rasa;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 39px;

color: #000000;

}
.menu4{
    position: absolute;
    width: 68.74px;
    height: 43.55px;
    left: 1051.42px;
    top: 30.98px;
    
    font-family: Rasa;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
    
    color: #000000;
}
.menu5{
    position: absolute;
width: 74.38px;
height: 43.55px;
left: 1172.01px;
top: 32.1px;

font-family: Rasa;
font-style: normal;
font-weight: bold;
font-size: 32px;
line-height: 39px;

color: #000000;

}
.square{
    position: absolute;
    width: 1275px;
    height: 167px;
    left: 60px;
    top: 391px;
    
    background: #AAA4A4;
    border: 2px solid #000000;
    box-sizing: border-box;
}
.logo2
{
    position: absolute;
width: 66.49px;
height: 66.99px;
left: 1281.32px;
top: 24.28px;
    }
.fb{
    position: absolute;
    width: 182.42px;
    height: 119.08px;
    left: 42.82px;
    top: 573.93px;
}
.insta{
    position: absolute;
width: 182.42px;
height: 133.15px;
left: 261.45px;
top: 566.1px;

}
.twttr{
    position: absolute;
width: 180.31px;
height: 121.4px;
left: 476.69px;
top: 573.93px;
}
.shp{
    position: absolute;
width: 186.79px;
height: 133.9px;
left: 702.08px;
top: 566.1px;
}
.lzd{
    position: absolute;
width: 384.28px;
height: 109.66px;
left: 930.84px;
top: 577.84px;
}